<table class="table table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">NumberP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of professionnelSanteService.getListPatient()" (click)="clickPatient(patient)">
      <td>{{patient.getNom()}}</td>
      <td>{{patient.getPrenom()}}</td>
      <td>{{patient.getDateDeNaissance()}}</td>
      <td>{{patient.getNumberP()}}</td>
    </tr>
  </tbody>
</table> 

