<table class="table table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">id Dispositif</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of professionnelSanteService.getListPatient()">
      <td (click)="clickPatient(patient)">{{patient.getNom()}}</td>
      <td (click)="clickPatient(patient)">{{patient.getPrenom()}}</td>
      <td (click)="clickPatient(patient)">{{patient.getDateDeNaissance()}}</td>
      <div *ngIf="patient.getIdDispositif() != null; else elseBlock">
        <td (click)="clickPatient(patient)">{{patient.getIdDispositif()}}</td>
      </div>
      <ng-template #elseBlock>
        <td (click)="clickPatient(patient)">pas de dispositif</td>
    </ng-template>
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletePatient(patient)">X</button>
      </td>
    </tr>
  </tbody>
</table> 

