<div *ngIf="symptome">
  <br/>
  <hr class="my-4">
  <div class="text-center">
    <h3>{{symptome.getNom()}}</h3>
  </div>
  <hr class="my-4">
  <br/>
  <h4>Graphique des valeurs :</h4>

  <kendo-chart [categoryAxis]="{categories: abscisse}">
    <kendo-chart-title ></kendo-chart-title>
    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
    <kendo-chart-series>
      <!--<kendo-chart-series-item *ngFor="let student of students" type="line" [data]="student.results" [name]="student.name">-->
      <kendo-chart-series-item type="line" [data]="ordonnee">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

</div>

                          
