<div class="row">
  <div *ngFor="let symptome of this.professionnelSanteService.getCurrentPatient().getListSymptome(); let i = index" [class.selected]="symptome === symptomeSelectionne">
    <button type="button" class="{{classbutton}}" (click)="afficherSymptome(symptome)">{{symptome.getNom()}}</button>
    |i
  </div>
  <div *ngIf="this.professionnelSanteService.getCurrentPatient().getListSymptome().length > 1">
    <button type="button" class="{{classbuttontous}}" (click)="afficherTousLesSymptomes()">Tous les symptomes</button>
  </div>
</div>

<div [ngSwitch]="switch">
  <div *ngSwitchCase="1">
    <app-visualisation-symptome [symptome]="symptomeSelectionne" (deleteEvent)="deleteEvent($event)"></app-visualisation-symptome>
  </div>
  <div *ngSwitchCase="2">
    <app-visualisation-graphique-tous-les-symptomes></app-visualisation-graphique-tous-les-symptomes>
  </div>
  <div *ngSwitchCase="3">
    Veuillez ajouter un symptome (Menu - nouveau symptome)
  </div>
  <div *ngSwitchDefault>  
  </div>
</div>