
  <div class="form-group">
      <label class="col-form-label" for="inputDefault">Nom</label>
      <input class="form-control" placeholder="tapez le nom du patient ici" id="nom" type="text" #nom>
  </div>

  <br/>

  <div class="form-group">
    <label class="col-form-label" for="inputDefault">Prenom</label>
    <input class="form-control" placeholder="tapez le prenom du patient ici" id="prenom" type="text" #prenom>
  </div>

  <br/>
  
  <div class="form-group">
    <label class="col-form-label" for="inputDefault">Date de Naissance (format xx/xx/xxxx)</label>
    <input class="form-control" placeholder="tapez la date de naissance du patient ici" id="dateDeNaissance" type="text" #dateDeNaissance>
  </div>

  <br/>

  <div class="form-group">
    <label class="col-form-label" for="inputDefault">ID du dispositif (ne remplissez pas ce champ si aucun dispositif n'est attribué au patient)</label>
    <input class="form-control" placeholder="tapez l'id du dispositif ici" id="idDispositif" type="text" #idDispositif>
  </div>

  <br/>

  Bouton d'Alarme :
  <div class="form-group">
    <select class="custom-select" [(ngModel)]="alarm">
      <option value="1">Activé</option>
      <option value="2">Désactivé</option>
    </select>
  </div>

  <br/><br/><br/>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="ajouterUnPatient(nom.value, prenom.value, dateDeNaissance.value, idDispositif.value)">Ajouter</button>
    &nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-danger" (click)="annuler()">Annuler</button>
  </div>