<br/>
<h6> A venir (VisualisationGraphiqueTousLesSymptomesComponent)</h6>

<!--
<br/>
<hr class="my-4">
<div class="text-center">
  <h3>{{symptome.getNom()}}</h3>
</div>
<hr class="my-4">
<br/>
<h4>Graphique des valeurs :</h4>
  
<kendo-chart [categoryAxis]="{categories: abscisse}">
  <kendo-chart-title ></kendo-chart-title>
  <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item *ngFor="let symptome of symptomes" type="line" [data]="symptome.intensite" [name]="symptome.date">
      </kendo-chart-series-item>
    </kendo-chart-series>
</kendo-chart>
-->
  
