<nav class="navbar navbar-light bg-light">
    <img src="https://upload.wikimedia.org/wikipedia/fr/5/50/Logo_astek.png" alt="logo d'astek" style="width: 70px;"/>  
    
    <h1>
        AppName
        <small class="text-muted">- Accueil</small> 
    </h1>
    
    <img src="https://upload.wikimedia.org/wikipedia/fr/5/50/Logo_astek.png" alt="logo d'astek" style="width: 70px;"/>  
</nav>

<div class="container">

  <br/><br/>

  <div class="text-center">
    <h3>Description de l'application</h3>
  </div>
  .................................................
  <br/>
  .................................................

  <br/><br/>
  
  <div class="text-center">
    Connectez-vous pour utiliser les services de appName :
    <button type="button" class="btn btn-outline-secondary" (click)="connexion()">Connexion</button>
  </div>

  <br/><br/>

</div>

